.gradiente-uno{
    width: 300px;
    height: 300px;
    align-items:;
    /*VAMOS A INICIAR CON 2 COLORES*/
    background:linear-gradient(
        360deg
        rgb(255,50,23),
        rgb(0,132,155)
    );
}

.gradiente-dos{
    width: 300px;
    height: 300px;
    /*VAMOS A INICIAR CON 2 COLORES*/
    background:linear-gradient(
        360deg
        rgb(255,50,23),
        rgb(0,132,155)
    );
}
