.cuadrado {
  background-color: red;
  width: 200px;
  height: 200px;
  position: relative;
  left: 500px;
}
.circle {
  width: 500px;
  height: 500px;
  background-color: blue;
  border-radius: 50%;
  position: relative;
  left: 500px;
}
.container {
  border: 5px solid red;
  position: absolute;
  width: 50%;
}
