//sintaxis  $nombrevariavle
// medidas.fuentes -color y diversas propiedades

$color-principal: rgb(109, 214, 174);
$color-red: #f01;
$padding-1: 10px;
$bg: green;

@mixin alertita($bg: blue, $color-text: #fff) {
  background-color: $bg;
  padding: $padding-1;
  border-radius: $padding-1;
  color: $color-text;
  margin-bottom: $padding-1;
}
