*,
html,
body {
  box-sizing: border-box;
  margin: 0;
}
.main {
  max-width: 1280px;
  margin: 0 auto;
}
.wrap {
  margin-top: 0;
  padding-bottom: 150px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 15px;
}
.header {
  background-color: #00af1c;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1280px;
}
.header ul {
  display: flex;
}
.header li {
  margin-left: 1rem;
  list-style: none;
}
.header nav a {
  font-size: 16px;
  font-weight: 600;
}
.header a {
  text-decoration: none;
  color: white;
}
.logo {
  font-size: 32px;
  color: #ffffff;
}

/*SECTIONE HOME*/

.home h2 {
  color: #3b06d2;
  margin-left: 20px;
  margin-right: 20px;
}
.home p {
  margin-left: 20px;
  margin-right: 20px;
}
body img{
  width: 365px;
}
.home,
.servicios,
.portafolio,
.contacto {
  width: 100%;
  padding: 10px;
}

.home div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 30px 10px 30px;
}
.home div img {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px 30px 0px;
}

#titulo-articulo1 {
  color: #3b06d2;
}
.servicios h2 {
  color: #3b06d2;
  margin-left: 20px;
}
.servicios p {
  margin-left: 20px;
  margin-right: 20px;
}

.servicios div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 40px 30px 40px 30px;
}
.servicios div img {
  margin-left: 25px;
}
.servicios ul li {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 44px;
}
/********* VIEÑTAS DE COLORES *********/
.servicios ul {
  padding-left: 55px;
}
.servicios ul .s1 {
  color: red;
}
.servicios ul .s2 {
  color: #1400ff;
}
.servicios ul .s3 {
  color: #d79b00;
}
.servicios ul .s4 {
  color: #03b2b2;
}
/********* VIEÑTAS DE COLORES *********/

#titulo-articulo2 {
  color: #d206b2;
}
.portafolio h2 {
  color: #3b06d2;
  margin-left: 20px;
  margin-top: 15px;
}
.portafolio p {
  margin-left: 20px;
  margin-right: 20px;
}

.portafolio div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 40px 30px 40px 30px;
}
.portafolio div img {
  margin-left: 25px;
}
.portafolio ul li {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 44px;
}
/********* VIEÑTAS DE COLORES *********/
.portafolio ul {
  padding-left: 55px;
}
.portafolio ul .s1 {
  color: #ae8800;
}
.portafolio ul .s2 {
  color: #ae280b;
}
.portafolio ul .s3 {
  color: #060564;
}
.portafolio ul .s4 {
  color: #637300;
}
/********* VIEÑTAS DE COLORES *********/

#titulo-articulo3 {
  color: #aad206;
}
.contacto h2 {
  color: #3b06d2;
  margin-left: 20px;
  margin-top: 15px;
}
.contacto p {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 35px;
}

.contacto div {
  display: flex;
  /* flex-wrap: wrap;*/
  justify-content: center;
  margin: 20px;
}
.contacto form {
  margin-left: 20px;
  margin-right: 20px;
}
form textarea{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
#titulo-articulo4 {
  color: #06d2c6;
}

#text-footer1 {
  text-align: left;
}
#text-footer1 {
  text-align: right;
}

#btnform {
  color: #22a900;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1;
  background-color: transparent;
  border-color: #22a900;
}

.footer {
  background-color: #00af1c;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  color: #f3f3f3;
}
.footer ul {
  display: flex;
}
.footer li {
  margin-left: 1rem;
  list-style: none;
}
.footer nav a {
  font-size: 16px;
  font-weight: 600;
}
.footer a {
  text-decoration: none;
  color: white;
}
