:root {
  --background-color-banner: linear-gradient(
    253.6deg,
    #98d0fc 2.46%,
    #3481d7 93.24%
  );
  --color-text: #1f3f68;
  --color-title-banner: #ffffff;
  --color-title-section: #1f3f68;
  --color-paragraph: #000000;
  --color-title-principal: #356ead;
  --color-title-article: #1f3f68;
  --primary-font: "helvetica";
  --secondary-font: "arial";
  --font-weight-1: 700;
  --font-weight-2: 400;
}

:root,
:root.light {
  --bgfooter: #316099;
  --marginfooter: #dfdfdf;
  --btnfooter: #5a98d0;
  --textfooter: #ffffff;
}
body {
  font-family: var(--primary-font);
}

h2 {
  color: var(--color-title-principal);
  font-weight: var(--font-weight-1);
  font-size: 20px;
  line-height: 23px;
}
#title-article {
  color: var(--color-title-article);
  font-weight: var(--font-weight-1);
  font-size: 36px;
  line-height: 46px;
}
#title-sub-article {
  color: var(--color-title-article);
  font-weight: var(--font-weight-1);
  font-size: 36px;
  line-height: 46px;
}
p {
  font-weight: var(--font-weight-2);
  font-size: 16px;
  line-height: 26px;
  font-family: var(--secondary-font);
  letter-spacing: 0.04em;
}
h5 {
  font-weight: var(--font-weight-1);
  font-size: 14px;
  line-height: 24px;
  font-family: var(--secondary-font);
  color: var(--color-title-article);
  letter-spacing: 0.04em;
}
h6 {
    font-weight: var(--font-weight-2);
    font-size: 14px;
    line-height: 24px;
    font-family: var(--secondary-font);
    color: var(--color-title-article);
    letter-spacing: 0.04em;
    opacity: 0.4;
  }