:root {
  --background-color-banner: linear-gradient(
    253.6deg,
    #98d0fc 2.46%,
    #3481d7 93.24%
  );
  --color-text: #1f3f68;
  --color-title-banner: #ffffff;
  --color-title-section: #1f3f68;
  --color-paragraph: #000000;
  --color-title-principal-arti: #356ead;
  --color-title-article: #1f3f68;
}

:root,
:root.light {
  --bgfooter: #316099;
  --marginfooter: #dfdfdf;
  --btnfooter: #5a98d0;
  --textfooter: #ffffff;
}
