:root {
  --primary-theme-color: #4c8bf5;
  --secondary-theme-color: #c4dbfa;
  --primary-text-color: #344137;
  --primary-highlight-color: FBBC04;
  --primary-font-family: "arial";
  --padding-section: 1.5rem;
  --padding-container: 1rem;
  --max-width-container: 640px;
  --letter-color-1: #c8a32a;
  --letter-color-2: #09d96e;
  --letter-color-3: #7700ff;
  --letter-color-4: #ff14a9;
  --letter-color-5: #73d7dc;
}
@media screen and (max-width: 767px) {:root{
    --primary-theme-color: #670037;
    --secondary-theme-color: #c4dbfa;
    --primary-text-color: #344137;
    --primary-highlight-color: FBBC04;}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    :root{
        --primary-theme-color: #051228;
        --secondary-theme-color: #c4dbfa;
        --primary-text-color: #344137;
        --primary-highlight-color: FBBC04;}
@media screen and (min-width: 1024px) {
    :root{
        --primary-theme-color: #c55615;
        --secondary-theme-color: #c4dbfa;
        --primary-text-color: #344137;
        --primary-highlight-color: FBBC04;}
}
