* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
}

iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.89;
}

.ejercicios {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 720px;
  max-width: 1280px;
}
.pt1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  width: 33%;
  padding: 1em;
}
.pt2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 33%;
  padding: 1em;
  position: relative;
  left: 33%;
}
.pt3 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  width: 33%;
  padding: 1em;
  position: relative;
  left: 66%;
}
button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
}
.btn-1 {
  background-color: rgb(44, 79, 161);
}
.btn-2 {
  background-color: rgb(150, 38, 226);
}
.btn-3 {
  background-color: rgb(28, 159, 107);
}
