body {
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url("./src/img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  min-height: 100vh;
}

.header {
  margin-bottom: 10%;
}

.header_professional-image-container {
  border-radius: 50%;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #f3f3f3;
}

.article_title {
  font-family: "Open Sans", sans-serif;
  color: #f3f3f3;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: #f3f3f3;
}

footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.icon {
  display: flex;
  transition: all 0.5s;
  max-width: 2rem;
}

.icon:hover {
  transform: scale(1.25);
}

.icon-link {
  width: 100%;
}
